<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<!-- The image_tag method is a "view helper", a method that helps you generate HTML code -->
<p>
  <%= image_tag @post.url %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<% if current_user && @post.user == current_user %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end  %>
<%= link_to 'Back', posts_path %>
